# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: bbc0554a757d565b3641737948909c10ff71f09f97aa50d07e413e7d1e652db60fb296a5726117f5b51860268080f72ec8b8c9cbca0941d0851897d6fb580501

test:
  secret_key_base: bb13993ba8b004944bdd32563e4527c0bf8a5071d811d99fc1df98c2b2d79b8bf7dbcab32346a8d06ed1e987c87d9bf2b5811b334924b09ba90ebf38953705b2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
